<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<!-- 中文乱码 -->
<meta charset="UTF-8">
<!--适配IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 适配移动端 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css"
	rel="stylesheet">
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
	<div th:replace="header::header-body"></div>

	<!--banner-->
	<section id="banner">
		<div class="container-fluid">
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators" id="indicator">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner" id="inner">
					<div class="item active">
						<img
							src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/bing-1.jpg"
							alt="First slide">
					</div>
					<div class="item">
						<img
							src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/bing-2.jpg"
							alt="Second slide">
					</div>
					<div class="item">
						<img
							src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/bing-3.jpg"
							alt="Third slide">
					</div>
					<div class="item">
						<img
							src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/bing-4.jpg"
							alt="Forth slide">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>
	<!--banner-->

	<!--icon-->
	<section id="icon">
		<div class="container">
			<div class="row wow fadeInUp" data-wow-duration="0.5s">
				<div class="col-sm-4">
					<a href="https://weibo.com/baidudilraba" target="_blank"> <img
						src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/a.jpg"
						class="img-responsive" alt="" />
						<h3>Dear迪丽热巴后援会</h3>
						<p>爱吹彩虹屁的会会</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="https://weibo.com/u/1669879400" target="_blank"> <img
						src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/i.jpg"
						class="img-responsive" alt="" />
						<h3>Dear-迪丽热巴</h3>
						<p>全世界第一小可爱</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="https://weibo.com/u/6269329742" target="_blank"> <img
						src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/b.jpg"
						class="img-responsive" alt="" />
						<h3>嘉行迪丽热巴工作室</h3>
						<p>让粉丝操碎了心但也偶尔靠谱的迪迪办</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--icon-->

	<!--riyue-->
	<section id="riyue">
		<div class="container">
			<div class="col-md-6 wow fadeInLeft">
				<h2>日月</h2>
				<p>这是一个颠覆神话传说的故事。在远古时期的海滨小镇金鱼村，美丽的少女嫦娥和森林少年后羿是一对两小无猜的欢喜冤家。</p>
				<p>
					<span class="glyphicon glyphicon-grain mai-icon"></span>崇尚自由的嫦娥厌倦了小渔村枯燥平淡的生活，一心想去探索外面的世界。
				</p>
				<p>
					<span class="glyphicon glyphicon-grain mai-icon"></span>在她打算离家出走的这天，突如其来的龙王选妃盛典打破了这里的平静...
				</p>
			</div>
			<div class="col-md-6 wow fadeInRight">
				<img src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/riyue.jpg"
					class="img-responsive" alt="" />
			</div>
		</div>
	</section>
	<!--riyue-->

	<!--zhenshangshu-->
	<section id="zhenshangshu">
		<div class="container wow fadeInUp">
			<div class="col-md-6">
				<img
					src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/zhenshangshu.jpg"
					class="img-responsive" alt="" />
			</div>
			<div class="col-md-6">
				<h2>三生三世枕上书</h2>
				<p>青丘帝姬白凤九在山间修行时被一头妖兽攻击，危急时刻被路过的东华帝君所救，从此铭记在心。</p>
				<p>
					<span class="glyphicon glyphicon-grain mai-icon"></span>为报恩凤九执意跟随东华与作乱世间的妖君渺落战斗。
				</p>
				<p>
					<span class="glyphicon glyphicon-grain mai-icon"></span>在相处中她发现自己的报恩之情已转化为爱慕之意。但东华在千百年与邪恶的斗争中，已经忘却了“情爱”二字...
				</p>
			</div>
		</div>
	</section>
	<!--zhenshangshu-->

	<!--pic-->
	<section id="pic">
		<div class="container">
			<div class="row  wow fadeInUp">
				<div class="col-md-6">
					<h2>迪丽热巴美图下载</h2>
					<blockquote>
						<p>知道自己未来想要过的是什么生活，并且努力去追寻这种生活，这本身就很幸福。</p>
						<p>勇敢，温柔，一如既往。</p>
						<p>阳光下像个孩子，风雨里像个大人。</p>
						<footer>
							<cite title="Source Title">迪丽热巴·迪力木拉提</cite>
						</footer>
					</blockquote>
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-download-alt"></span><a
							href="http://dilraba.oss-cn-shanghai.aliyuncs.com/%E5%85%8B%E6%8B%89%E6%81%8B%E4%BA%BA%20%E9%AB%98%E9%9B%AF.zip">&nbsp;傲娇稳雯</a>
					</button>
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-download-alt"></span><a
							href="http://dilraba.oss-cn-shanghai.aliyuncs.com/%E5%8D%81%E9%87%8C%E6%A1%83%E8%8A%B1%20%E7%99%BD%E5%87%A4%E4%B9%9D.zip">&nbsp;呆萌小九</a>
					</button>
				</div>
				<div class="col-md-6">
					<img
						src="http://dilraba.oss-cn-shanghai.aliyuncs.com/pic/app-banner.jpg"
						class="img-responsive" alt="" />
				</div>
			</div>
		</div>
	</section>
	<!--pic-->

	<!--us-->
	<section id="us">
		<div class="lvjing">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft">
						<h2>
							<span class="glyphicon glyphicon-send"></span> &nbsp; 关于自己
						</h2>
						<p>关关雎鸠，在河之洲。 窈窕淑女，君子好逑。 参差荇菜，左右流之。 窈窕淑女，寤寐求之。 求之不得，寤寐思服。
							悠哉悠哉，辗转反侧。 参差荇菜，左右采之。 窈窕淑女，琴瑟友之。 参差荇菜，左右芼之。 窈窕淑女，钟鼓乐之。</p>
						<address>
							<p>
								<span class="glyphicon glyphicon-home"></span> &nbsp;
								地址：迪丽热巴未来的花路上
							</p>
							<p>
								<span class="glyphicon glyphicon-hand-right"></span> &nbsp;
								微博：普罗格莱马
							</p>
							<p>
								<span class="glyphicon glyphicon-pencil"></span> &nbsp;
								简介：一只默默喜欢热巴的小透明
							</p>
						</address>
					</div>
					<div class="col-md-6  wow fadeInRight">
						<div class="col-md-6">
							<input type="text" class="form-control" id="username"
								placeholder="您的姓名" />
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="contact"
								placeholder="您的联系方式" />
						</div>
						<div class="col-md-12">
							<textarea class="form-control" id="content" placeholder="留言内容"
								rows="8"></textarea>
						</div>
						<div class="col-md-8">
							<button type="submit" class="form-control" id="submit">提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--us-->

	<div th:replace="footer::footer-body"></div>

	<script src="../static/js/jquery.singlePageNav.min.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/home.js"></script>
	<script src="../static/js/Global.js"></script>

</body>
</html>